{% load cms_tags sekizai_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% block title %}{% page_attribute page_title %}{% endblock %} | Content-Plan</title>

		<meta name="description" content="{% block description %}{% page_attribute meta_description %}{% endblock %}">
		<meta name="keyword" content="{% block keywords %}{% page_attribute meta_keywords %}{% endblock %}">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no maximum-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}example/img/icons/favicon.ico">
		<link rel="apple-touch-icon" href="{{ STATIC_URL }}example/img/icons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}example/img/icons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}example/img/icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}example/img/icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}example/img/icons/apple-touch-icon-144x144.png">

		{% addtoblock "extra_css" %}
			<link rel="stylesheet" href="{{ STATIC_URL }}example/plugins/html5-boilerplate/css/bootstrap.min.css">
			<style>
				body {
					padding-top: 50px;
					padding-bottom: 20px;
				}
			</style>
			<link rel="stylesheet" href="{{ STATIC_URL }}example/plugins/html5-boilerplate/css/bootstrap-theme.min.css">
		{% endaddtoblock %}

	    {% render_block "extra_css" %}
		{% render_block "css" %}

		<script src="{{ STATIC_URL }}example/plugins/html5-boilerplate/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	</head>
<body>
	{% cms_toolbar %}
	<!--[if lt IE 7]><p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p><![endif]-->

	{% block main_content %}{% endblock %}

	{% addtoblock "extra_js" %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}invictus_capital/plugins/html5-boilerplavendor/jquery-1.10.1.min.js"><\/script>')</script>
		<script src="{{ STATIC_URL }}example/plugins/html5-boilerplate/js/vendor/bootstrap.min.js"></script>
	{% endaddtoblock %}

    {% render_block "extra_js" %}
	{% render_block "js" %}

	<script>
		var _gaq = [
			['_setAccount', 'UA-XXXXX-X'],
			['_trackPageview']
		];
		(function (d, t) {
			var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
			g.src = '//www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s)
		}(document, 'script'));
	</script>

</body>
</html>
